:root {
  /* Base Colors (Осветлённые) */
  --color-bg-primary: #1A1A1A;    /* Базовый фон */
  --color-surface: hsl(0, 0%, 15%);       /* Панели, сайдбар, хедер */
  --color-widget: #333333;        /* Карточки тикетов, поля ввода */
  --color-widget-hover: #3D3D3D;  /* Ховер для карточек */

  /* Text Colors */
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --color-text-tertiary: #969696;

  /* Accent Colors */
  --color-accent-info: #4A8BFA;
  --color-accent-warning: #FFC53D;
  --color-accent-success: #39DA8A;
  --color-accent-error: #FF5C5C;
  --color-accent-neutral: #AB7DF8;

  /* searching colors */
  --search-border: #404040;
  --search-border-focus: #4A8BFA;
  --search-shadow: rgba(74, 139, 250, 0.1);
  --search-shortcut-bg: #2D2D2D;
  --search-shortcut-text: #969696;
  --search-results-bg: #252525;
}

/*      main code       */
body{
    background-color: var(--color-bg-primary);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.panel_tools{
    border: 1px solid var(--color-bg-primary);
    background-color: var(--color-surface);
    /* background-color: white; */
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 50px;
}